/* Cotnenido del tooltip, tiene que ser relativo para que se pueda fijar correctamente */
.tooltip {
    position: relative;
    display: inline-block;
}

/* texto que ira dentro del tooltip */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* posicion del texto del tooltip */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* efecto de fade */
    opacity: 0;
    transition: opacity 0.3s;
}

/* dibujamos la flecha geometrica del tooltipe con el pseudo elemento after */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Damos visibilidad al tooltip cuando el mouse esta arriba del elemento */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}